body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:78px;
  top:490px;
  width:790px;
  height:330px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:330px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1 {
  position:absolute;
  left:270px;
  top:425px;
  width:250px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  position:absolute;
  left:543px;
  top:425px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:0px;
  top:300px;
  width:302px;
  height:56px;
  font-size:36px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:1230px;
  height:210px;
  color:#0066CC;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:210px;
}
#u8 {
  position:absolute;
  left:2px;
  top:97px;
  width:1226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:200px;
  width:600px;
  height:29px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:35px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:34px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:29px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:29px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:29px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:29px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:29px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:29px;
  width:100px;
  height:20px;
  visibility:hidden;
}
#u23_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:29px;
  width:100px;
  height:20px;
  visibility:hidden;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:300px;
  top:29px;
  width:100px;
  height:20px;
  visibility:hidden;
}
#u31_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:400px;
  top:29px;
  width:100px;
  height:20px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:500px;
  top:29px;
  width:100px;
  height:20px;
  visibility:hidden;
}
#u39_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:200px;
  top:29px;
  width:100px;
  height:20px;
  visibility:hidden;
}
#u43_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:20px;
  width:300px;
  height:160px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u48 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:390px;
  top:72px;
  width:462px;
  height:48px;
  font-size:48px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  height:48px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:462px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:940px;
  top:176px;
  width:160px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1100px;
  top:170px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:2px;
  top:340px;
  width:1198px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:1181px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1198px;
  height:1px;
}
#u56 {
  position:absolute;
  left:78px;
  top:425px;
  width:162px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u56_input:disabled {
  color:grayText;
}
#u57 {
  position:absolute;
  left:78px;
  top:360px;
  width:327px;
  height:33px;
  font-size:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:33px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  white-space:nowrap;
}
